@model BC3.Classes.NguoiDung

@{
    ViewBag.Title = "EditND";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2 style="color:darkorange">Sửa thông tin Người dùng</h2>

@using (Html.BeginForm("EditND", "Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Nhập thông tin tại đây <i class="bi bi-chevron-down"></i></h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="row">
            <div class="col-6">
                @Html.HiddenFor(model => model.username)

                <div class="form-group mt-2">
                    @Html.LabelFor(model => model.hoTen, htmlAttributes: new { @class = "control-label" })
                    <div>
                        @Html.EditorFor(model => model.hoTen, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.hoTen, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group mt-2">
                    @Html.LabelFor(model => model.sdt, htmlAttributes: new { @class = "control-label" })
                    <div>
                        @Html.EditorFor(model => model.sdt, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.sdt, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group mt-2">
                    @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label" })
                    <div>
                        @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group mt-2">
                    @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label" })
                    <div>
                        @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="form-group mt-2">
                    @Html.LabelFor(model => model.quan, htmlAttributes: new { @class = "control-label" })
                    <div>
                        @Html.EditorFor(model => model.quan, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.quan, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group mt-2">
                    @Html.LabelFor(model => model.duong, htmlAttributes: new { @class = "control-label" })
                    <div>
                        @Html.EditorFor(model => model.duong, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.duong, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group mt-2">
                    @Html.LabelFor(model => model.thanhpho, htmlAttributes: new { @class = "control-label" })
                    <div>
                        @Html.EditorFor(model => model.thanhpho, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.thanhpho, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group mt-2">
                    @Html.LabelFor(model => model.role, htmlAttributes: new { @class = "control-label" })
                    <div>
                        @Html.EditorFor(model => model.role, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.role, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group mt-2">
                    @Html.LabelFor(model => model.cuaHang, htmlAttributes: new { @class = "control-label" })
                    <div>
                        @Html.EditorFor(model => model.cuaHang, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.cuaHang, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group mt-2">
                    @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label" })
                    <div>
                        @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group mt-2">
            <div class="col-md-offset-2 col-md-10">
                <a href="/Admin/Menu" class="btn btn-outline-warning text-decoration-none"><<< Quay lại</a> |
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
}
