@model List<BC3.Classes.NguoiDung>
@{
    ViewBag.Title = "NguoiDung";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Danh sách người dùng</h2>
<a href="/Admin/CreateND" class="btn btn-secondary"><i class="bi bi-plus"></i> Thêm</a>

<table class="table table-dark table-hover mt-3">
    <thead>
        <tr>
            <th class="text-center" style="color: darkorange">Tên đăng nhập</th>
            <th class="text-center" style="color: darkorange">Họ Tên</th>
            <th class="text-center" style="color: darkorange">Số Điện Thoại</th>
            <th class="text-center" style="color: darkorange">Email</th>
            <th class="text-center" style="color: darkorange">Phân quyền</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td class="text-center">@user.username</td>
                <td>@user.hoTen</td>
                <td class="text-center">@user.sdt</td>
                <td>@user.email</td>
                <td class="text-center">@user.role</td>
                <td>
                    <a href="/Admin/EditND/@user.username" class="btn btn-primary">Sửa</a>
                    <a href="/Admin/DeleteND/@user.username" class="btn btn-danger" onclick="return confirm('Bạn có chắc chắn muốn xóa không?')">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>


